<h2 id="title">Ember-cli-mapbox With Marker</h2>

{{#mapbox-map
  zoom=15
  mapId='ember-cli-mapbox.7c3914f2' as |map|
}}
  {{#each model as |position|}}
    {{#mapbox-marker map=map coordinates=(mapbox-coords position.lat position.lng) as |marker|}}
      {{#marker.popup}}
          hello world right {{position.name}}
          <span class="star"></span>
      {{/marker.popup}}
    {{/mapbox-marker}}
  {{/each}}
{{/mapbox-map}}
